In [15]:
import os
import numpy as np
import pandas as pd

In [1]:
docs=[]
for document in sorted(os.listdir("documents")):
        
        file=open("documents/"+document,'r')
        docs.append(file.read())

In [19]:
bow=set()
for i in range(len(docs)):
    docs[i]=docs[i].replace('\n','')
    docs[i]=docs[i].split(" ")

    while docs[i].count(''):
        docs[i].remove('')
    
    for word in docs[i]:
        bow.add(word)

In [23]:
bow

{'(Corrosponding',
 'Activities',
 'Ahmed',
 'Assistant',
 'Cairo',
 'CairoUniversity,',
 'Caroline',
 'Computers',
 'DegreeIn',
 'Department,',
 'Department,In',
 'DepartmentMethodology',
 'Egypt',
 'Faculty',
 'Fulfillment',
 'Galal',
 'Giza,',
 'Governance',
 'Hamada',
 'Information',
 'Information,',
 'InformationInformation',
 'Labib',
 'Master',
 'Mohamed',
 'Partial',
 'PhD',
 'Pre-Development',
 'ProjectsA',
 'Requirments',
 'Science',
 'System',
 'Systems',
 'SystemsSubmitted',
 'ThesisPresented',
 'UniversityFaculty',
 'a',
 'am',
 'and',
 'at',
 'author)Teaching',
 'by:',
 'byShaimaa',
 'convert',
 'degree',
 'engineer',
 'for',
 'fulfillment',
 'i',
 'implementation',
 'in',
 'information',
 'of',
 'partial',
 'requirements',
 'sofware',
 'specification',
 'submitted',
 'systemsA',
 'the',
 'thesis',
 'to'}

In [33]:
all=[[] for i in range(len(docs))]
for word in bow:
    for i in range(len(docs)):
        if word in docs[i]:
            all[i].append(1)
        else:
            all[i].append(0)
print(all[3])
print(docs[3])

[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0]
['i', 'am', 'a', 'sofware', 'engineer']

In [38]:
df=pd.DataFrame(np.array(all),columns=bow,index=['d1','d2','d3','d4'])
df

,information,Master,requirements,partial,Caroline,Galal,"Giza,","Department,In",am,by:,...,Cairo,implementation,Governance,i,Fulfillment,to,UniversityFaculty,(Corrosponding,a,fulfillment
d1,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
d2,1,1,1,1,0,1,0,0,0,0,...,1,1,0,0,0,1,1,0,0,1
d3,0,0,0,0,0,0,0,1,0,1,...,0,0,1,0,1,1,0,0,0,0
d4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0

In [43]:
def cos_sim(d1,d2):
    product=np.dot(d1,d2)
    norm_d1=np.sqrt(sum([d1[i]**2 for i in range(len(d1))]))
    norm_d2=np.sqrt(sum([d2[i]**2 for i in range(len(d2))]))
    cos_s=product/(norm_d1*norm_d2)
    theta=np.cos(cos_s)
    return cos_s,theta

(0.17712297710801905, 0.9843546924960765)

In [48]:
similarites=[]
for i in range(4):
    for j in range(i+1,4):
        similarites.append([cos_sim(df.iloc[i],df.iloc[j])[0],(i,j)])

In [52]:
similarites.sort(reverse=True)
similarites

[[0.35805743701971643, (1, 2)],
 [0.2853908964926965, (0, 2)],
 [0.17712297710801905, (0, 1)],
 [0.0, (2, 3)],
 [0.0, (1, 3)],
 [0.0, (0, 3)]]